<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>

<body>
<h1>Car List</h1>
<p th:text="${countCars}" />

<!--<p th:text="${cars}" />-->
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Owner</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:utext="${car.getModel()}">...</td>
            <td th:utext="${car.getColor()}">...</td>
            <td th:utext="${car.getOwner()}">...</td>
        </tr>
    </table>
</div>
</body>
</html>